* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--color-dark);
}

:root {
    --color-light: #dee5ff;
    --color-white: #F6F5FF;
    --color-dark: #0A0040;
    --color-primary: #6143FF;
    --color-success: #43ff8b;
    --color-error: #ff4343;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}

.sidebar img {
    max-width: 100%;
}

nav {
    height: 100px;
    background-color: var(--color-light);
    width: calc(100vw - 100px);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
}

.btn {
    padding: 20px 30px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

main {
    display: flex;
    padding: 20px;
}

section.graph {
    width: 25%;
    padding: 5px;
}

.graph-header {
    display: flex;
    align-items: center;
    gap: 20px
}

.graph-header h2 {
    font-size: 18px;
}

.hr-graph {
    border: 1px solid rgb(212, 212, 212);
    width: 100px;
}

.graph-header-subtitle {
    margin-top: 10px;
}

.graph-header-date {
    display: flex;
    align-items: center;
}

.graph-placeholder {
    /* background-color: #CCC; */
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 40px;
    background: url('/assets/images/graph.png');
    background-size: contain;
}



.tasks-left-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.list-header {
    display: flex;
}

.list-header-select {
    background: transparent;
    border: none;
}

.list {
    padding: 10px;
    flex: 1;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    border-bottom: 1px solid var(--color-light);
    transition: all .3s ease-in-out;
}

.task:hover {
    transform: scale(1.02);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-light);


}

.title {
    display: flex;
    flex: 1;
    align-items: center;
}

.priority,
.actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.actions a {
    transition: all .3s ease-in-out;
}

.actions a:hover {
    transform: scale(1.5);
}

.sphere {
    width: 22px;
    height: 22px;
    background-color: rgb(255, 217, 0);
    border-radius: 100%;
    margin-right: 10px;
}

.task-title {
    padding-left: 10px;
    font-weight: bold;
}

#section {
    margin: auto;
}

#section>h1 {
    text-align: center;
    margin-bottom: 20px;
}


.form-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-area>label {
    display: block;
}

.input-area>input,
.input-area>select {
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.checkbox {
    width: 20px !important;
    height: 20px !important;
}


.input-area>textarea {
    width: 400px;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.success_msg {
    background-color: var(--color-success);
    text-align: center;
    padding: 20px;
}

.error_msg {
    background-color: var(--color-error);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
}